mixin navItem(name, text)
  if (page == name)
    li.nav-footer__item.nav-footer__item--active
      span #{text}
  else
    li.nav-footer__item
      a(href=`${name}.html`) #{text}


footer.page__footer.page-footer
  .container
    nav.page-footer__nav
      ul.nav-footer
        +navItem("about", "О клинике")
        +navItem("services", "Услуги и цены")
        +navItem("reviews", "Отзывы")
        +navItem("contacts", "Контакты")

    .page-footer__contacts
      p
        | ООО “Аспект Медикал Груп”
        br
        | #{contacts.address}
      p
        a(href=`tel:${contacts.phones[0]}`) #{contacts.phones[0]}
        | ,#{" "}
        a(href=`tel:${contacts.phones[1]}`) #{contacts.phones[1]}
      .social-links
        a.social-links__link.social-links__link--instagram(href=`${contacts.socials.instagram}` target="_blank" rel="noopener noreferrer")
          +svgSprite("instagram", 21, 21)
          span.visually-hidden #{contacts.socials.instagram}
        a.social-links__link.social-links__link--mail(href=`mailto:${contacts.email}`)
          +svgSprite("mail", 20, 16)
          span.visually-hidden #{contacts.email}

    .page-footer__banners
      a.page-footer__banner(href="http://anketa.rosminzdrav.ru/staticmojustank/9406#reviews" target="_blank" rel="noopener noreferrer")
        span.visually-hidden Оценить качество услуг на сайте rosminzdrav.ru
        img(
          src="@img/organs/quality.png",
          srcset="@img/organs/quality@2x.png 2x",
          alt="Баннер сайта rosminzdrav.ru")
      a.page-footer__banner(href="https://www.gosuslugi.ru/" target="_blank" rel="noopener noreferrer")
        span.visually-hidden Перейти на сайт портала Госуслуги
        img(
          src="@img/organs/gosuslugi.png",
          srcset="@img/organs/gosuslugi@2x.png 2x",
          alt="Баннер портала Госуслуги")
