header.page__header.page-header
  .page-header__main
    .container
      .page-header__logo.logo
        .logo__image
          picture
          img(
            src="@img/logo/logo.png",
            srcset="@img/logo/logo@2x.png 2x"
            alt="Аспект Медикал Груп",
            width="100",
            height="110"
          )
        .logo__text
          img(src="@img/logo/logo_text.svg")
      .page-header__contacts.page-header__contacts--address(data-am=".mobile-menu__contacts/(max-width: 800px)")
        .page-header__contact-item
          .page-header__contact-icon
            +svgSprite("geo", 12, 18)
          .page-header__contact-text
            | #{contacts.address.slice(contacts.address.indexOf(",") + 2)}
        .page-header__contact-item
          .page-header__contact-icon
            +svgSprite("clock", 18, 18)
          .page-header__contact-text
            | #{contacts.time}
      .page-header__contacts
        .page-header__contact-item
          .page-header__contact-icon
            +svgSprite("phone", 18, 18)
          .page-header__contact-text
            .page-header__contact-description
              | Запись по телефону:
            a(href=`tel:${contacts.phones[0]}`) #{contacts.phones[0]}
        .page-header__contact-item(data-am=".page-header__contacts--address/(max-width: 800px)")
          .page-header__contact-icon
            +svgSprite("instagram", 18, 18)
          .page-header__contact-text
            a(href=`${contacts.socials.instagram}`  target="_blank" rel="noopener noreferrer") aspect_medical_group
      button#js-menu-btn.page-header__mobile-menu-btn
        +svgSprite("menu", 23, 23)
        span.visually-hidden Открыть мобильное меню
  nav.page-header__nav
    .container
      ul.nav-main(data-am=".mobile-menu__nav/(max-width: 750px)")
        li.nav-main__item
          a.nav-main__link(href="about.html") О клинике
        li.nav-main__item
          a.nav-main__link(href="price.html") Услуги и цены
        li.nav-main__item
          a.nav-main__link(href="reviews.html") Отзывы
        li.nav-main__item
          a.nav-main__link(href="contacts.html") Контакты
  .page-header__bottom
    .container
      .page-header__change-version
        button#js-change-version.page-header__change-version-btn
          +svgSprite("eye", 22, 15)
          span Версия для слабовидящих

