mixin navItem(name, text)
  if (page == name)
    li.nav-main__item.nav-main__item--active
      span.nav-main__link #{text}
  else
    li.nav-main__item
      a.nav-main__link(href=`${name}.html`) #{text}

header.page__header.page-header
  .page-header__main
    .container
      if (page == "index")
        .page-header__logo.logo
          .logo__image
            img(
              src="@img/logo/logo.png",
              srcset="@img/logo/logo@2x.png 2x"
              alt="Аспект Медикал Груп",
              width="100",
              height="110"
            )
          .logo__text
            img(src="@img/logo/logo_text.svg")
      else
        a(href="index.html").page-header__logo.logo
          .logo__image
            img(
              src="@img/logo/logo.png",
              srcset="@img/logo/logo@2x.png 2x"
              alt="Аспект Медикал Груп",
              width="100",
              height="110"
            )
          .logo__text
            img(src="@img/logo/logo_text.svg")
      .page-header__contacts.page-header__contacts--address(data-am=".mobile-menu__contacts/(max-width: 800px)")
        .page-header__contact-item
          .page-header__contact-icon
            +svgSprite("geo", 12, 18)
          .page-header__contact-text
            | #{contacts.address.slice(contacts.address.indexOf(",") + 2)}
        .page-header__contact-item
          .page-header__contact-icon
            +svgSprite("clock", 18, 18)
          .page-header__contact-text
            | #{contacts.time}
      .page-header__contacts
        .page-header__contact-item
          .page-header__contact-icon
            +svgSprite("phone", 18, 18)
          .page-header__contact-text
            .page-header__contact-description.bvi-hide
              | Запись по телефону:
            a(href=`tel:${contacts.phones[0]}`) #{contacts.phones[0]}
        .page-header__contact-item(data-am=".page-header__contacts--address/(max-width: 800px)")
          .page-header__contact-icon
            +svgSprite("vk", 18, 18)
          .page-header__contact-text
            a(href=`${contacts.socials.vk}`  target="_blank" rel="noopener noreferrer") Группа в ВК
      button#js-menu-btn.page-header__mobile-menu-btn
        +svgSprite("menu", 23, 23)
        span.visually-hidden Открыть мобильное меню
  nav.page-header__nav
    .container
      ul.nav-main(data-am=".mobile-menu__nav/(max-width: 800px)")
        +navItem("about", "О клинике")
        +navItem("services", "Услуги и цены")
        +navItem("reviews", "Отзывы")
        +navItem("contacts", "Контакты")
  .page-header__bottom
    .container
      if (page != "index")
        ul.page-header__breadcrumbs.breadcrumbs
          li.breadcrumbs__item
            a(href="index.html") Главная
          li.breadcrumbs__item
            span #{name}
      .page-header__change-version
        button.page-header__change-version-btn.bvi-open
          +svgSprite("eye", 22, 15)
          span Версия для слабовидящих

