doctype html
html(lang="ru")
  include ../data/data
  include ../mixins/mixins

  block config
    - var title = ""
    - var page = ""

  block head
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{title}
      link(rel="stylesheet", href="css/style.min.css")

  body
    .page
      #js-page-overlay.page__overlay
      block header
        include header
      block content
      block footer
        include footer
    .mobile-menu
      button#js-menu-close.mobile-menu__close-btn
        +svgSprite("close", 23, 23)
        span.visually-hidden Закрыть мобильное меню
      .mobile-menu__content
        .logo.logo--mobile-menu
          .logo__image
            picture
            img(
              src="@img/logo/logo.png",
              srcset="@img/logo/logo@2x.png 2x"
              alt="Аспект Медикал Груп",
              width="100",
              height="110"
            )
          .logo__text
            img(src="@img/logo/logo_text-white.svg")
        .mobile-menu__nav
        .mobile-menu__contacts
  block scripts
      script(src="js/app.min.js")
