section.section
  .container
    h2.section__title О клинике
    .about-clinic
      .content-text.about-clinic__text
        p
          | &laquo;Аспект Медикал Груп&raquo;&nbsp;&mdash; это стоматология в&nbsp;Красноярске с&nbsp;гарантией качества и&nbsp;по&nbsp;доступным ценам. Клиника работает по&nbsp;всем основным направлениям стоматологии:
        ul
          li Консультация и диагностика
          li Лечение зубов и дёсен
          li Протезирование зубов
          li Ортопедические и хирургические услуги
        p
          | Наша команда состоит только из опытных и высококвалифицированных врачей, знающих и любящих своё дело. В своей работе мы используем современное европейское оборудование и передовые практики в сфере стоматологии, что позволяет эффективно решать проблемы, даже в самых «запущенных» случаях.
        p
          b Учредитель: #{" "}
          | Соломахина Алла Станиславовна.
        p
          b Дата госрегистрации: #{" "}
          | 02 декабря 2020 г.
        p
          b ИНН: #{" "}
          | 2465336180, #{" "}
          b ОГРН: #{" "}
          | 1202400029193. #{" "}
      .about-clinic__right-block.chief-medical
        figure.chief-medical__photo
          img(src="@img/staff/solomakhina.jpg", alt="Соломахина Алла Станиславовна")
        h2.chief-medical__name Соломахина Алла Станиславовна
        p.chief-medical__title Главный врач
        a.btn.chief-medical__btn(href="solomakhina.html") Подробнее о враче
