section.section
  .container
    h2.section__title О клинике
    .about-clinic
      .content-text.about-clinic__text
        p
          | Наша стоматологическая клиника &laquo;Аспект Медикал Груп&raquo; оснащена новейшим оборудованием и&nbsp;сертифицированными материалами, а&nbsp;в&nbsp;штат входят только высококлассные специалисты с&nbsp;опытом работы. Клиника Аспект Медикал Груп всегда стремимся оказать стоматологические услуги на&nbsp;высочайшем уровне и&nbsp;по&nbsp;разумным ценам.
        p
          b Учредитель: #{" "}
          | Соломахина Алла Станиславовна.
        p
          b Дата регистрации: #{" "}
          | 02 декабря 2020 г.
        p
          b ИНН: #{" "}
          | 2465336180, #{" "}
          b ОГРН: #{" "}
          | 1202400029193. #{" "}
      .about-clinic__right-block.chief-medical
        figure.chief-medical__photo
          img(src="@img/staff/solomakhina.jpg", alt="Соломахина Алла Станиславовна")
        h2.chief-medical__name Соломахина Алла Станиславовна
        p.chief-medical__title Главный врач
        a.btn.chief-medical__btn(href="solomakhina.html") Подробнее о враче
