section.section
  .container
    h1.section__title Услуги и цены

  .price-table
    header.price-table__header
      | Нажмите на нужный раздел, чтобы открыть список

    ul.price-table__list
      each serviceType in price
        li.price-table__item.price-table__item--sublist.price-table__item--top
          .price-table__item-name #{serviceType.name}
          button.price-table__item-btn
            +svgSprite("arrow-right", 20, 20)

          ul.price-table__sublist
            each serviceItem in serviceType.details
              if serviceItem.price
                li.price-table__item
                  .price-table__item-name #{serviceItem.name}
                  .price-table__item-price #{serviceItem.price}р.
              else
                li.price-table__item.price-table__item--sublist
                  .price-table__item-name #{serviceItem.name}
                  button.price-table__item-btn
                    +svgSprite("arrow-right", 20, 20)
                  ul.price-table__sublist
                    each item in serviceItem.details
                      li.price-table__item.price-table__item--deep
                        .price-table__item-name #{item.name}
                        .price-table__item-price #{item.price}р.
