section.section
  .container
    h1.section__title Услуги и цены

    .content-text(style="text-align: center; max-width: 600px; margin: 0 auto 30px;")
      p
        b Способы оплаты: #{" "}
        | наличный и безналичный расчёт.
      p
        | Организация не ведёт приём граждан по ОМС. Приём осуществляется на платной основе.
        | Осуществляется приём по полисам ДМС при наличии договора со страховой организацией.

  .price-table.js-price-table
    header.price-table__header
      | Нажмите на нужный раздел, чтобы открыть список

    ul.price-table__list
      each serviceType in price
        li.price-table__item.price-table__item--sublist.price-table__item--top
          button.price-table__item-name.price-table__btn-show #{serviceType.name}
            .price-table__item-arrow
              +svgSprite("arrow-right", 12, 20)

          ul.price-table__sublist
            each serviceItem in serviceType.details
              if serviceItem.price
                li.price-table__item
                  .price-table__item-name #{serviceItem.name}
                  .price-table__item-price #{serviceItem.price}р.
              else
                li.price-table__item.price-table__item--sublist
                  button.price-table__item-name.price-table__btn-show #{serviceItem.name}
                    .price-table__item-arrow
                      +svgSprite("arrow-right", 12, 20)
                  ul.price-table__sublist
                    each item in serviceItem.details
                      li.price-table__item.price-table__item--deep
                        .price-table__item-name #{item.name}
                        .price-table__item-price #{item.price}р.
