section.section.reviews
  .container
    h2.section__title Отзывы
    a(
        href="//krasnoyarsk.flamp.ru/firm/aspekt_medikal_grup_ooo_stomatologicheskaya_klinika-70000001047638503"
        class="flamp-widget"
        data-flamp-widget-type="responsive-new"
        data-flamp-widget-id="70000001047638503"
        data-flamp-widget-width="100%"
        data-flamp-widget-count="10"
        ) Отзывы о нас на Флампе
    script.
      !function(d,s){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);js.async=1;js.src="//widget.flamp.ru/loader.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script");
